body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
}

.map {
  position: relative;
  width: 90vw;
  height: 70vh;
  margin: auto;
  background: #333;
  border-radius: 12px;
}

.zone {
  position: absolute;
  border: 2px solid white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.green {
  background: green;
}

.orange {
  background: orange;
}

.red {
  background: red;
}